@{
    ViewData["Title"] = "Lista de Rol";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de Rol </h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fa-soild fa-plus"></i>Crear nuevo Rol
            </a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblRol" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>id_Rol</th>
                <th>nombreRol</th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts {
    <script src="~/js/rol.js"></script>
}
